.q_title {
  background-color: #5CABB8;
  color: whitesmoke;
  text-align: center;
}

.q_ul {
  display: flex;
  justify-content: center;
  // align-content: right;
}

.eachQuestion {
  color: whitesmoke;
  margin: 1vw;
  display: flex;
  flex-wrap: wrap;
}

.viewDetailButton {

}