.c_title {
  background-color: #1FA896;
  color: whitesmoke;
  text-align: center;
}

.categories {
  align-items: center;
}

.eachCategory {
  color: darkcyan;
  margin: 1vw;
  display: flex;
  flex-wrap: wrap;
}
