.c_title {
  background-color: #3096A6;
  color: whitesmoke;
  text-align: center;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.eachCategory {
  color: darkcyan;
  margin: 1vw;
  width: 8em;
  text-align: center;
}
